<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Page</h1>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}"/><br/>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}"/><br/>
        <input type="submit" value="Login"/>
    </form>
     <div class="g-recaptcha" data-sitekey="${google.recaptcha.key.site}"></div>

</body>
</html>
